$color1: #BF788B;
$color2: #F2ACBF;
$color3: #D93D04;
$color4: #F26835;
$color5: #A63737;
$header-color: rgba(242, 172, 191, 0.7);
$about-color: rgba(217, 61, 4, 0.1);

$main-font: 'Lato', sans-serif;
$secondary-font: 'Pacifico', cursive;

* {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: $color3;
    a {
        text-decoration: none;
    }
    h1, p {
        margin: 0;
    }
    h1 {
        font-family: $secondary-font;
    }
}

////////////////////////
//   Header Section   //
////////////////////////

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-color;
}

.header-content {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem;
    min-width: 200px;
    width: 900px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 150px;
    img {
        width: 60px;
        min-width: 35px;
        height: 100%;
    }
    h1 {
        margin: 0;
        font-size: 2em;
    }
}

////////////////////////
//     Navigation     //
////////////////////////

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.3rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 250px;
    min-width: 150px;
    font-size: 1.1em;
    .nav-item {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-direction: column;
        height: 50px;
        user-select: none;
        cursor: pointer;
        transition: transform 0.5s;
    }
    .nav-item:hover {
        transform: translateY(-5px);
    }
    .nav-item.active {
        transform: translateY(0);
        color: $color5;
    }
}

////////////////////////
//      Slideshow     //
////////////////////////

#slideshow {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    img {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 1.5s ease-in;
    }
    img.active {
        opacity: 1;
    }
}

////////////////////////
//   slideshow-text   //
////////////////////////

.slideshow-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: auto 1rem;
    padding: 1rem;
    border-radius: 1rem;
    min-width: 50%;
    background-color: $header-color;
    h1 {
        font-size: 5em;
        color: $color5;
    }
}


////////////////////////
//       About        //
////////////////////////

#about {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex: 1 0 auto;
    background-color: $about-color;
    max-height: 450px;
    .about-text {
        text-align: center;
        margin-top: 0.3rem;
        width: 400px;
        p {
            color: $color4;
            font-size: 1.2em;
        }
        h1 {
            font-size: 3em;
        }
    }
    .about-img {
        width: 200px;
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            border: 1px solid $color2;
            box-shadow: 0 1px 5px 4px $color2;
            min-width: 100px;
        }
    }
}

////////////////////////
//       Footer       //
////////////////////////

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem;
    font-size: 1.2em;
    background-color: $color2;
    color: $color1;
    a {
        color: $color1;
    }
    a:hover {
        color: $color4;
    }
}

////////////////////////
//    Media queries   //
////////////////////////

@media screen and (max-width: 742px) {
    #about {
        .about-text {
            h1 {
                font-size: 1.8em;
            }
            p {
                font-size: 1.2em;
            }
        }
        .about-img {
            width: 150px;
        }
    }

    .slideshow-text h1 {font-size: 3em;}
}

@media screen and (max-width: 470px) {
    #about {
        .about-text {
            h1 {
                font-size: 1.4em;
            }
            p {
                font-size: 1.1em;
            }
        }
        .about-img {
            width: 100px;
        }
    }
    .slideshow-text h1 {font-size: 2em;}
}


@media screen and (max-width: 338px) {
    #header {
        .header-logo {
            h1 {
                font-size: 1.5em;
            }
            img {
                width: 35px;
            }
        }
        .nav {
            font-size: 0.8em;
        }
    }

    #about {
        .about-text {
            h1 {
                font-size: 1.1em;
            }
            p {
                font-size: .8em;
            }
        }
        .about-img {
            width: 100px;
        }
    }
    .slideshow-text h1 {font-size: 1.5em;}
}